---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #edfe02;
  background-image: url(/assets/images/bigwave.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.project-name {
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
}

.project-tagline {
  color: #666;
}
